.DS_Store

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# node
node_modules/

# Next.js
frontend/.next/
frontend/out/

# NestJS
backend/dist/
backend/coverage/

# Prisma
backend/prisma/dev.db

# misc
.turbo/
